//- layout.pug
doctype html
html
  head
    title Tourfree
    block scripts
    block style 
  body
    nav#navbar 
        ul 
            li #[a(href="/")  Home]
            li #[a(href="/")  About] 
            li #[a(href="/")  Payments] 
            li #[a(href="/contact")  Contact Us;]
    block content
